:root {
  box-sizing: border-box;
  --default-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --default-text: rgb(98, 98, 98);
  --default-text-light: rgb(245, 245, 245);
  --primary-color: rgb(0, 61, 228);
}

::before, ::after, * {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: var(--default-text);
}

.pretty-button {
  border: 0;
  padding: 0.25em 0.75em;
  color: var(--default-text-light);
  background-color: var(--primary-color);
  /* border: 3px solid transparent;*/ 
  font-size: 1.05em;
  transition: 0.3s all 0s;
}

.pretty-button:hover {
  /* border: 3px solid lightblue; */
  color: lightblue;
  border-radius: 0.3em;
  background: darkblue;
}

hr {
  border: 0;
  border-bottom: 0.5px solid rgb(206, 206, 206);
}
